.youcetu_pic_cssOne {
    position: absolute;
    left: -221.4%;
    top: 51%;
    width: 110px;
    display: none;
}

.youcetu_pic_cssTwo {
    position: absolute;
    left: -182%;
    top: 0%;
    width: 90px;
    height: 110px;
    display: none;
}