@media (min-width:1200px) {

	.rr img,
	.rich-products hr,
	.range-products {
		width: 1200px;
	}

	.rich-productsOne ul,
	.range-products {
		position: relative;
		left: 50%;
		transform: translate(-50%);
		width: 1200px;
	}

}

@media (max-width:1200px) {

	.rr img {
		width: 85%;
		height: 70%;
	}

	.rich-products hr,
	.range-products {
		width: 100%;
	}
}