@font-face {
	font-family: "iconfont";
	/* Project id 4820390 */
	src: url('iconfont.woff2?t=1749718266292') format('woff2'),
		url('iconfont.woff?t=1749718266292') format('woff'),
		url('iconfont.ttf?t=1749718266292') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
	content: "\e665";
}

.icon-yingshi:before {
	content: "\ec69";
}

.icon-danganhe:before {
	content: "\e630";
}

.icon-a-shujuzidian2x:before {
	content: "\e6df";
}

.icon-wendang:before {
	content: "\e829";
}

.icon-a-11:before {
	content: "\e663";
}

.icon-tikuyoushi:before {
	content: "\e608";
}

.icon-anliku:before {
	content: "\e6a8";
}

.icon-chuangjianshuziguji:before {
	content: "\e65a";
}

.icon-gujichuban-02:before {
	content: "\e643";
}